* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
}
body section {
  padding: 30px 0;
}
body section h1 {
  margin-bottom: 30px;
  width: 100%;
  font-size: 2em;
  text-align: center;
}
body section a {
  text-decoration: none;
  color: #222222;
}
body section .row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
body section .row .user {
  margin: 15px 30px;
  text-align: center;
}
body section .row .user img {
  width: 200px;
}
body section .back {
  margin: 15px;
  padding: 5px 20px;
  background: #337ab7;
  color: white;
  border-radius: 6px;
}
body section .user {
  margin: 15px auto;
  width: max-content;
}
body section .user > h3,
body section .user > p {
  text-align: center;
}
body section .user > p {
  margin-bottom: 15px;
}
